<div class="reports-adhoc">
  <h1>Adhoc Reporting</h1>
  <form class="reports-adhoc-form">
    <div class="field">
      <label for="reports-adhoc-month" class="label">Month</label>
      <select name="month" id="reports-adhoc-month">
        <% _.each(months, function(m) { %>
          <option<%= month == m ? ' selected="selected"' : '' %>><%= m %></option>
        <% }); %>
      </select>
    </div>
    <div class="field">
      <label for="reports-adhoc-delivery_zone" class="label">Location</label>
      <select name="delivery_zone" id="reports-adhoc-delivery_zone">
        <option value="">(delivery zone)</option>
        <% deliveryZones.each(function(dz) { %>
          <option value="<%= dz.get('code') %>" <%= dzCode == dz.get('code') ? ' selected="selected"' : '' %>><%= dz.get('code') %></option>
        <% }); %>
      </select>
      /
      <select name="district" id="reports-adhoc-district">
        <option value="">(district)</option>
        <% districts.each(function(district) { %>
          <option value="<%= district.get('code') %>" <%= districtCode == district.get('code') ? ' selected="selected"' : '' %>><%= district.get('code') %></option>
        <% }); %>
      </select>
    </div>

    <div id="reports-adhoc-definitions">
      <textarea name="definitions" id="reports-adhoc-definitions-json" rows="20" cols="80"><%= definitionsJSON %></textarea>
      <div id="reports-adhoc-definition-errors" class="inline-error"><%= definitionErrors %></div>
      <div>
        <button id="reports-adhoc-calculate" class="submit">Calculate</button>
        <!-- <button id="reports-adhoc-show" class="submit" <%= definitionErrors ? 'disabled="disabled"' : '' %>>Show</button> -->
        <input type="text" id="reports-adhoc-value" disabled="disabled" value="Select a definition ->"></input>
      </div>
      <h3>JSON Output:</h3>
      <pre id="reports-adhoc-value-json"></pre>
    </div>

    <div id="reports-adhoc-definition-names">
      <h2>Definitions</h2>
      <ul>
        <% _.each(_.sortBy(definitions, function(o) { return o.name }), function(definition) { %>
          <li class="definition-name"><a href="#"><%= definition.name %></a></li>
        <% }); %>
      </ul>
    </div>

    <div class="clear"></div>

  </form>
</div>
