= form_for [:admin, @province], :html => { :class => "form" } do |f|
  - if f.object.errors.any?
    %ul#error-explanation
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .field.required
      .label= f.label :code
      .value
        - if @province.new_record?
          = f.text_field :code
        - else
          = @province.code
    .field
      .label= f.label :population
      .value= f.text_field :population
    .field
      .label= f.label :latitude
      .value= f.text_field :latitude
    .field
      .label= f.label :longitude
      .value= f.text_field :longitude

  .buttons
    .button= f.submit "Save"
    .link= link_to "Cancel", [:admin, @province.new_record? ? :provinces : @province]
