= hierarchy

%h2 Locations/Areas
%ul
  %li= link_to "Provinces", [:admin, :provinces]
  %li= link_to "Delivery Zones", [:admin, :delivery_zones]
  %li= link_to "Districts", [:admin, :districts]
  %li= link_to "Health Centers", [:admin, :health_centers]
  %li= link_to "Warehouses", [:admin, :warehouses]

%h2 Goods &amp; Services
%ul
  %li= link_to "Products", [:admin, :products]
  %li= link_to "Packages", [:admin, :packages]
  %li= link_to "Stock Cards", [:admin, :stock_cards]
  %li= link_to "Equipment Types", [:admin, :equipment_types]

%h2 Users &amp; Languages
%ul
  %li= link_to "Users", [:admin, :users]
  %li= link_to "Languages", [:admin, :languages]
%h2 Offline
%ul
  %li= link_to "View Offline UI", "/offline"

%h2 Data Dump
%ul
  - first_month = HcVisit.order(:month).first.month
  - end_month = HcVisit.order(:month).last.month
  - while end_month > first_month
    - start_month = [end_month - 6.months, first_month].max
    %li= link_to "#{start_month.to_s[0..6]} through #{(end_month).to_s[0..6]}", admin_dump_path(:format=>:csv, :from=>start_month.to_s,:to=>end_month.to_s)
    - end_month = start_month - 1.month
    