= hierarchy

%h2 Locations/Areas
%ul
  %li= link_to "Provinces", [:admin, :provinces]
  %li= link_to "Delivery Zones", [:admin, :delivery_zones]
  %li= link_to "Districts", [:admin, :districts]
  %li= link_to "Health Centers", [:admin, :health_centers]
  %li= link_to "Warehouses", [:admin, :warehouses]

%h2 Goods &amp; Services
%ul
  %li= link_to "Products", [:admin, :products]
  %li= link_to "Packages", [:admin, :packages]
  %li= link_to "Stock Cards", [:admin, :stock_cards]
  %li= link_to "Equipment Types", [:admin, :equipment_types]
  /%li= link_to "Ideal Stock Amounts", [:admin, :ideal_stock_amounts]
