= form_for [:admin, @equipment_type], :html => { :class => "form" } do |f|
  - if f.object.errors.any?
    %ul#error-explanation
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .field.required
      .label= f.label :code
      .value
        - if @equipment_type.new_record?
          = f.text_field :code
        - else
          = @equipment_type.code

  .buttons
    .button= f.submit "Save"
    .link= link_to "Cancel", [:admin, @equipment_type.new_record? ? :equipment_types : @equipment_type]
