- reorderable ||= false
- #{:class => reorderable ? 'reorderable' : ''}

%table.admin-table.reorderable{ :data => { "sort-url" => sort_admin_stock_cards_path } }
  - reset_cycle :stock_cards
  %tr
    %th
    %th Code
    %th Actions
  - stock_cards.each do |stock_card|
    %tr{:id => "stock_card_#{stock_card.id}", :class => cycle("even", "odd", :name => :stock_cards)}
      %td.handle :&nbsp;:
      %td= stock_card.code
      %td.table-actions
        %ul
          %li= link_to "View", admin_stock_card_path(stock_card)
          %li= link_to "Edit", edit_admin_stock_card_path(stock_card)
          %li= link_to "Remove", admin_stock_card_path(stock_card), :confirm => 'Are you sure?', :method => :delete

= paginate stock_cards if stock_cards.respond_to?(:current_page)
