= hierarchy "Stock Cards"

%h2
  Stock Cards
  %span.admin-actions ( #{link_to "New", new_admin_stock_card_path} )

= render "stock_card_list", :stock_cards => @stock_cards, :reorderable => sort_admin_stock_cards_path
.admin-actions
  %ul
    %li= link_to "New Stock Card", new_admin_stock_card_path
    %li= link_to "Change Order", "#", :class => "change-order"
