%ul
  %li
    = t("data_sources.hcvisit.fc_main.before.title")
    %ul
      %li= t("data_sources.hcvisit.fc_main.before.prepare_load")
      %li= link_to t("data_sources.hcvisit.fc_main.before.determine_pickups"), "#"
      %li= link_to t("data_sources.hcvisit.fc_main.before.record_pickups"), "#"
  %li
    = t("data_sources.hcvisit.fc_main.during.title")
    %ul
      %li= t("data_sources.hcvisit.fc_main.during.collect_at_district")
      %li= t("data_sources.hcvisit.fc_main.during.collect_at_health_center")
  %li
    = t("data_sources.hcvisit.fc_main.after.title")
    %ul
      %li= t("data_sources.hcvisit.fc_main.after.return")
      %li= link_to t("data_sources.hcvisit.fc_main.after.input"), "#"
      %li= link_to t("data_sources.hcvisit.fc_main.after.review"), "#"
      %li= link_to t("data_sources.hcvisit.fc_main.after.upload"), "#"
