%h1#page-title= t("data_sources.hcvisit.fc_main.page_title")

#fc-zone-select
  %h2= t("data_sources.hcvisit.fc_main.choose_subtitle")

  %form#choose-zone.form{:onsubmit => "return false;"}
    .field
      .label= t("delivery_zone")
      .value
        - options = options_from_collection_for_select(@delivery_zones, "code", "t")
        = select_tag :dz_selector, options
    .field
      .label= t("data_sources.hcvisit.visit_month")
      .value
        - months = (-4..1).map {|o| (Date.today + o.months).beginning_of_month }
        - options = months.map {|m| [m.strftime("%B %Y"), m.strftime("%Y-%m")] }.reverse
        = select_tag :vdp_selector, options_for_select(options, options[1])
    .button= button_tag t("data_sources.hcvisit.fc_main.choose_button")

#fc-zone-show
  %h2= t("data_sources.hcvisit.fc_main.show_subtitle")
  .form
    .field
      .label= t("delivery_zone")
      .value
    .field
      .label= t("data_sources.hcvisit.visit_month")
      .value
    .button
      %button= t("data_sources.hcvisit.fc_main.show_button")


#fc-actions-overview{:disabled=>"disabled"}= render "action_links"

