= form_for [:admin, @warehouse], :html => { :class => "form" } do |f|
  = hidden_field_tag :province_id, @warehouse.province_id

  - if f.object.errors.any?
    %ul#error-explanation
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .field.required
      .label= f.label :code
      .value
        - if @warehouse.new_record?
          = f.text_field :code
        - else
          = @warehouse.code

  .buttons
    .button= f.submit "Save"
    .link= link_to "Cancel", [:admin, @warehouse.new_record? ? @province : @warehouse]
