= hierarchy @province, "Warehouse"

%h2 View Warehouse

.admin-proplist
  .fieldset
    .field
      .label Code
      .value= @warehouse.code
    .field
      .label Province
      .value= link_to @province.code, [:admin, @province]
    .field
      .label Created At
      .value= @warehouse.created_at
    .field
      .label Updated At
      .value= @warehouse.updated_at
    .field
      .label Translations
      .value= table_tree @warehouse.translations

  .buttons
    .link= link_to "&#171; Province".html_safe, [:admin, @province]
    .link= link_to "Edit", edit_admin_warehouse_path(@warehouse)
