#offline-container

- content_for :javascript do
  = javascript_include_tag "/#{@mode}/#{@locale}/#{@province.code}/translations-#{@language.updated_at.strftime('%s')}"

:javascript
  $(function() {
    window.App = new OfflineApp({
      provinceCode: #{@province.code.to_json.html_safe},
      accessCode: #{@province.access_code.to_json.html_safe},
      months: #{(0..6).map {|n| n.months.ago.strftime('%Y-%m') }.to_json.html_safe},
      mode: #{@mode.to_json.html_safe},
    });

    window.App.on('ready', function() { window.App.start() });
  });
