%h2= t('offline.sync.reset.title')
#offline-reset
  %p= t('offline.sync.reset.waiting')

:javascript
  $(document).ready(function() {
    var indexedDB = window.indexedDB
                 || window.webkitIndexedDB
                 || window.mozIndexedDB
                 || window.msIndexedDB;

    var dbname = 'province-' + #{@province.code.to_json.html_safe} + '-db';
    var dbreq = indexedDB.deleteDatabase(dbname);

    dbreq.onsuccess = function(event) {
      $('#offline-reset').html(#{t('offline.sync.reset.success').to_json});

      setTimeout(function() {
        window.location = window.location.pathname.replace(/\/reset$/, '');
      }, 2000);
    };

    dbreq.onerror = function(event) {
      $('#offline-reset').html(#{t('offline.sync.reset.error').to_json});
    };
  });
