= form_for [:admin, @product], :html => { :class => "form" } do |f|
  - if f.object.errors.any?
    %ul#error-explanation
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .field.required
      .label= f.label :code
      .value
        - if @product.new_record?
          = f.text_field :code
        - else
          = @product.code
    .field.required
      .label= f.label :product_type
      .value= f.select :product_type, Product.product_types, :prompt => "---"
    .field
      .label= f.label :trackable
      .value= f.check_box :trackable
    - if @product.has_isa?
      .field
        .label= f.label :isa_calc, "ISA Calculation"
        .value
          = f.text_area :isa_calc, :rows => 5, :cols => 80
          %div
            %span.link= link_to "Test Calculation", "#", :id => "test-isa-calc"
            %label{:for => 'population'} A population of
            %input#test-isa-population{:value => "10000", :size => 6}
            %span will require
            %input#test-isa-result{ :disabled => true, :size => 6 }
            %span doses/kits of #{@product.code}
            #test-isa-error
    .field
      .label= f.label :translations
      .value.table-tree= locale_fields f

  .buttons
    .button= f.submit "Save"
    .link= link_to "Cancel", [:admin, @product.new_record? ? :products : @product]

:javascript
  $(function() {
    productCode = #{@product.code.to_json};
    isaCalcs = #{Product.isa_calcs.to_json};
    $("#test-isa-calc").trigger('click');
  });
