= form_for [:admin, @delivery_zone], :html => { :class => "form" } do |f|
  = hidden_field_tag :province_id, @delivery_zone.province_id

  - if f.object.errors.any?
    %ul#error-explanation
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .field.required
      .label= f.label :code
      .value
        - if @delivery_zone.new_record?
          = f.text_field :code
        - else
          = @delivery_zone.code
    .field
      .label= f.label :population
      .value= f.text_field :population
    .field
      .label= f.label :latitude
      .value= f.text_field :latitude
    .field
      .label= f.label :longitude
      .value= f.text_field :longitude
    .field
      .label= f.label :translations
      .value.table-tree= locale_fields(f, @delivery_zone.translations)

  .buttons
    .button= f.submit "Save"
    .link= link_to "Cancel", [:admin, @delivery_zone.new_record? ? @province : @delivery_zone]
