<h2 class="screen-header"><span class="seqno">1</span>Visit Information</h2>

<form class="edit-visit-info">
  <div class="radio-label">Was <%= health_center_code %> visited in <%= month %>?</div>
  <ul id="hc_visit-visited" class="radio">
    <li>
      <input type="radio" name="visited" value="true" <%= visited != false ? "checked='checked'" : "" %> id="hc_visited-visited-true" />
      <label for="hc_visit-visited-true">Yes, I visited myself</label>
    </li>
    <li>
      <input type="radio" name="visited" value="false" <%= visited == false ? "checked='checked'" : "" %> id="hc_visit-visited-false" />
      <label for="hc_visit-visited-false">No, no one visited</label>
    </li>
  </ul>

  <% if (visited != false) { %>
    <div id="hc-visited-data">
      <div class="field">
        <label for="hc_visit-visited_at">Visit date</label>
        <input type="date" name="visited_at" class="validate" id="hc_visit-visited_at" value="<%= visited_at %>" />
        <span id="x-visited_at" class="x-invalid" title="This field is required.">&nbsp;</span>
      </div>

      <div class="field">
        <label for="hc_visit-vehicle_id">Vehicle ID</label>
        <input type="text" name="vehicle_id" id="hc_visit-vehicle_id" value="<%= vehicle_id %>"/>
      </div>
    </div>
  <% } %>

  <% if (visited == false) { %>
    <div id="hc-unvisited-data">
      <div class="radio-label">
        Why did no one visit?
        <span id="x-non_visit_reason" class="x-invalid" title="This field is required.">&nbsp;</span>
      </div>
      <ul class="radio">
        <li>
          <input type="radio" name="non_visit_reason" class="validate" value="road_problem" <%= non_visit_reason == "road_problem" ? "checked='checked'" : "" %> id="hc_visit-non_visit_reason-road_problem" />
          <label for="hc_visit-non_visit_reason-road_problem">Road impassable or bad weather</label>
        </li>
        <li>
          <input type="radio" name="non_visit_reason" class="validate" value="vehicle_problem" <%= non_visit_reason == "vehicle_problem" ? "checked='checked'" : "" %> id="hc_visit-non_visit_reason-vehicle_problem" />
          <label for="hc_visit-non_visit_reason-vehicle_problem">Transportation not available</label>
        </li>
        <li>
          <input type="radio" name="non_visit_reason" class="validate" value="health_center_closed" <%= non_visit_reason == "health_center_closed" ? "checked='checked'" : "" %> id="hc_visit-non_visit_reason-health_center_closed" />
          <label for="hc_visit-non_visit_reason-health_center_closed">The health center was closed at the time of the visit</label>
        </li>
        <li>
          <input type="radio" name="non_visit_reason" class="validate" value="other" <%= non_visit_reason == "other" ? "checked='checked'" : "" %> id="hc_visit-non_visit_reason-other" />
          <label for="hc_visit-non_visit_reason-other">Other</label>
        </li>
      </ul>

      <% if (non_visit_reason == "other") { %>
        <div>
          <textarea name="other_non_visit_reason" id="hc_visit-other_non_visit_reason"><%= other_non_visit_reason %></textarea>
        </div>
      <% } %>
    </div>
  <% } %>

</form>
