<% function tableField(fName, fVal, required, nr, inputType, inputClasses) {
     var fId = 'hc_visit-' + fName.replace(/[.]/g, '-');
     var input = '<input type="' + (inputType || 'number') + '" name="' + fName + '" id="' + fId + '" min="0" value="' + (fVal == null || fVal == 'NR' ? '' : fVal) + '" class="input' + (required ? ' validate' : '') + (inputClasses ? ' ' + inputClasses : '') + '" />';

     var xvalid = required
       ? '<span id="' + fId + '-x" class="x-invalid" title="This field is required.">&nbsp;</span>'
       : '';

     var nrdiv = nr
       ? '<div class="nr-div"><input type="checkbox" name="nr.' + fName + '" id="' + fId + '-nr" value="NR" class="nr' + (inputClasses ? ' ' + inputClasses : '') + '"' + (fVal == 'NR' ? 'checked="checked"' : '') + '/><label for="hc-visit-' + fId + '-nr">NR</label></div>'
       : '';

     return input + xvalid + nrdiv;
   };
%>


<h2 class="screen-header"><span class="seqno">8</span>EPI Stock Information</h2>

<p class="note">Note: Check “not recorded” (NR) if the number is not available; if there are none, record a zero (0).</p>

<form class="edit-epi-stock">
  <table class="spreadsheet">
    <thead>
      <tr>
        <th>EPI Stock (doses)</th>
        <th>Stock at first of month</th>
        <th>Received</th>
        <th>Total</th>
        <th>Distributed</th>
        <th>Loss</th>
        <th>Stock at end of month</th>
        <th>Expiration date (MM/YYYY)</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(products, function(product) { %>
        <% var pCode = product.code; %>
        <tr>
          <th><%= pCode %></th>
          <td>
            <% var fName = "epi_stock." + pCode + ".first_of_month"; %>
            <% var fVal = (epiStock[pCode]||{}).first_of_month; %>
            <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
          </td>
          <td>
            <% var fName = "epi_stock." + pCode + ".received"; %>
            <% var fVal = (epiStock[pCode]||{}).received; %>
            <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
          </td>
          <td id="hc_visit-epi_stock-<%= pCode %>-total" class="calculated">0</td>
          <td>
            <% var fName = "epi_stock." + pCode + ".distributed"; %>
            <% var fVal = (epiStock[pCode]||{}).distributed; %>
            <%= tableField(fName, fVal, true, true, 'number') %>
          </td>
          <td>
            <% var fName = "epi_stock." + pCode + ".loss"; %>
            <% var fVal = (epiStock[pCode]||{}).loss; %>
            <%= tableField(fName, fVal, true, true, 'number') %>
          </td>
          <td>
            <% var fName = "epi_stock." + pCode + ".end_of_month"; %>
            <% var fVal = (epiStock[pCode]||{}).end_of_month; %>
            <%= tableField(fName, fVal, true, true, 'number') %>
          </td>
          <td>
            <% var fName = "epi_stock." + pCode + ".expiration"; %>
            <% var fVal = (epiStock[pCode]||{}).expiration; %>
            <%= tableField(fName, fVal, true, true, 'date') %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</form>

<ul>
</li>
