<% function tableField(fName, fVal, required, nr, inputType, inputClasses) {
     var fId = 'hc_visit-' + fName.replace(/[.]/g, '-');
     var input = '<input type="' + (inputType || 'number') + '" name="' + fName + '" id="' + fId + '" min="0" value="' + (fVal == null ? '' : fVal) + '" class="input' + (required ? ' validate' : '') + (inputClasses ? ' ' + inputClasses : '') + '" />';
       
     var xvalid = required
       ? '<span id="' + fId + '-x" class="x-invalid" title="This field is required.">&nbsp;</span>'
       : '';
       
     var nrdiv = nr
       ? '<div class="nr-div"><input type="checkbox" name="nr.' + fName + '" id="' + fId + '-nr" value="NR" class="nr' + (inputClasses ? ' ' + inputClasses : '') + '"' + (fVal == 'NR' ? 'checked="checked"' : '') + '/><label for="hc-visit-' + fId + '-nr">NR</label></div>'
       : '';

     return input + xvalid + nrdiv;
   };
%>


<h2 class="screen-header"><span class="seqno">11</span>Adult Vaccinations</h2>

<p class="note">Note: Check “not recorded” (NR) if the number is not available; if there are none, record a zero (0).</p>

<form class="edit-adult-vac-tally">
  <table class="spreadsheet">
    <thead>
      <tr>
        <th colspan="2" rowspan="2">Group Tetanus Vaccinations (doses)</th>
        <th rowspan="2">Target group</th>
        <th colspan="3">Tetanus 1st dose</th>
        <th colspan="3">Tetanus 2nd-5th dose</th>
        <th rowspan="2">Total tetanus</th>
        <th rowspan="2">Coverage rate</th>
        <th rowspan="2">Opened vials</th>
        <th rowspan="2">Opened vials wastage rate</th>
      </tr>
      <tr>
        <th>Health Center</th>
        <th>Mobile Brigade</th>
        <th>Total</th>
        <th>Health Center</th>
        <th>Mobile Brigade</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">Pregnant Women</th>
        <td id="hc_visit-adult_vac_tally-w_pregnant-target_group" class="calculated"></td>
        <td>
          <% var fName = "adult_vac_tally.w_pregnant.tet1hc"; %>
          <% var fVal = (adultVacTally.w_pregnant||{}).tet1hc; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "adult_vac_tally.w_pregnant.tet1mb"; %>
          <% var fVal = (adultVacTally.w_pregnant||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_pregnant-tet1total" class="calculated"></td>
        <td>
          <% var fName = "adult_vac_tally.w_pregnant.tet2_5hc"; %>
          <% var fVal = (adultVacTally.w_pregnant||{}).tet2_5hc; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "adult_vac_tally.w_pregnant.tet2_5mb"; %>
          <% var fVal = (adultVacTally.w_pregnant||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_pregnant-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-w_pregnant-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-w_pregnant-coverage_rate" class="calculated"></td>
        <td rowspan="7" class="opened">
          <% var fName = "adult_vac_tally.tetanus.opened"; %>
          <% var fVal = (adultVacTally.tetanus||{}).opened; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td rowspan="7" id="hc_visit-adult_vac_tally-tetanus-wastage" class="calculated wastage"></td>
      </tr>

      <tr>
        <th rowspan="3">MIF 15-49 years</th>
        <th>Community</th>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_community.tet1hc"; %>
          <% var fVal = (adultVacTally.w_15_49_community||{}).tet1hc; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_community.tet1mb"; %>
          <% var fVal = (adultVacTally.w_15_49_community||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_15_49_community-tet1total" class="calculated"></td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_community.tet2_5hc"; %>
          <% var fVal = (adultVacTally.w_15_49_community||{}).tet2_5hc; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_community.tet2_5mb"; %>
          <% var fVal = (adultVacTally.w_15_49_community||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_15_49_community-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-w_15_49_community-total" class="calculated"></td>
        <td></td>
      </tr>
      <tr>
        <th>Students</th>
        <td></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_student.tet1mb"; %>
          <% var fVal = (adultVacTally.w_15_49_student||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_15_49_student-tet1total" class="calculated"></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_student.tet2_5mb"; %>
          <% var fVal = (adultVacTally.w_15_49_student||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_15_49_student-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-w_15_49_student-total" class="calculated"></td>
        <td></td>
      </tr>
      <tr>
        <th>Workers</th>
        <td></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_labor.tet1mb"; %>
          <% var fVal = (adultVacTally.w_15_49_labor||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_15_49_labor-tet1total" class="calculated"></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.w_15_49_labor.tet2_5mb"; %>
          <% var fVal = (adultVacTally.w_15_49_labor||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-w_15_49_labor-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-w_15_49_labor-total" class="calculated"></td>
        <td></td>
      </tr>

      <tr>
        <th colspan="2">Students not MIF</th>
        <td id="hc_visit-adult_vac_tally-student-target_group" class="calculated"></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.student.tet1mb"; %>
          <% var fVal = (adultVacTally.student||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-student-tet1total" class="calculated"></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.student.tet2_5mb"; %>
          <% var fVal = (adultVacTally.student||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-student-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-student-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-student-coverage_rate" class="calculated"></td>
      </tr>
      <tr>
        <th colspan="2">Workers not MIF</th>
        <td id="hc_visit-adult_vac_tally-labor-target_group" class="calculated"></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.labor.tet1mb"; %>
          <% var fVal = (adultVacTally.labor||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-labor-tet1total" class="calculated"></td>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.labor.tet2_5mb"; %>
          <% var fVal = (adultVacTally.labor||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-labor-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-labor-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-labor-coverage_rate" class="calculated"></td>
      </tr>
      <tr>
        <th colspan="2">Other not MIF</th>
        <td></td>
        <td>
          <% var fName = "adult_vac_tally.other.tet1hc"; %>
          <% var fVal = (adultVacTally.other||{}).tet1hc; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "adult_vac_tally.other.tet1mb"; %>
          <% var fVal = (adultVacTally.other||{}).tet1mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-other-tet1total" class="calculated"></td>
        <td>
          <% var fName = "adult_vac_tally.other.tet2_5hc"; %>
          <% var fVal = (adultVacTally.other||{}).tet2_5hc; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "adult_vac_tally.other.tet2_5mb"; %>
          <% var fVal = (adultVacTally.other||{}).tet2_5mb; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-adult_vac_tally-other-tet2_5total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-other-total" class="calculated"></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="2">Total</th>
        <td></td>
        <td id="hc_visit-adult_vac_tally-tet1hc-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-tet1mb-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-tet1total-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-tet2_5hc-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-tet2_5mb-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-tet2_5total-total" class="calculated"></td>
        <td id="hc_visit-adult_vac_tally-total-total" class="calculated"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>

<ul>
</li>
