<h2 class="screen-header"><span class="seqno">12</span>Observations &amp; Signatures</h2>

<form class="edit-observations">
  <textarea name="notes" id="hc_visit-notes" class="input"><%= notes %></textarea>

  <div class="two-columns">
    <div class="column">
      <div class="field">
        <label for="hc_visit-signature-verified_by">Verified by</label>
        <input type="text" name="signature.verified_by" class="input validate" id="hc_visit-signature-verified_by" value="<%= signature.verified_by %>" />
        <span id="hc_visit-signature-verified_by-x" class="x-invalid" title="This field is required.">&nbsp;</span>
      </div>
      <div class="field">
        <label for="hc_visit-signature-verified_by_title">Title</label>
        <input type="text" name="signature.verified_by_title" id="hc_visit-signature-verified_by_title" value="<%= signature.verified_by_title %>" readonly="readonly" />
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label for="hc_visit-signature-confirmed_by">Confirmed by</label>
        <input type="text" name="signature.confirmed_by" class="input validate" id="hc_visit-signature-confirmed_by" value="<%= signature.confirmed_by %>" />
        <span id="hc_visit-signature-confirmed_by-x" class="x-invalid" title="This field is required.">&nbsp;</span>
      </div>
      <div class="field">
        <label for="hc_visit-signature-confirmed_by_title">Title</label>
        <input type="text" name="signature.confirmed_by_title" class="input validate" id="hc_visit-signature-confirmed_by_title" value="<%= signature.confirmed_by_title %>" />
        <span id="hc_visit-signature-confirmed_by_title-x" class="x-invalid" title="This field is required.">&nbsp;</span>
      </div>
    </div>

    <div class="clear"></div>

  </div>
</form>

<ul>
</li>
