<% function tableField(fName, fVal, required, nr, inputType, inputClasses) {
     var fId = 'hc_visit-' + fName.replace(/[.]/g, '-');
     var input = '<input type="' + (inputType || 'number') + '" name="' + fName + '" id="' + fId + '" min="0" value="' + (fVal || '') + '" class="input' + (required ? ' validate' : '') + (inputClasses ? ' ' + inputClasses : '') + '" />';
       
     var xvalid = required
       ? '<span id="' + fId + '-x" class="x-invalid" title="This field is required.">&nbsp;</span>'
       : '';
       
     var nrdiv = nr
       ? '<div class="nr-div"><input type="checkbox" name="nr.' + fName + '" id="' + fId + '-nr" value="NR" class="nr' + (inputClasses ? ' ' + inputClasses : '') + '"' + (fVal == 'NR' ? 'checked="checked"' : '') + '/><label for="hc-visit-' + fId + '-nr">NR</label></div>'
       : '';

     return input + xvalid + nrdiv;
   };
%>


<h2 class="screen-header"><span class="seqno">10</span>Child Vaccinations</h2>

<p class="note">Note: Check “not recorded” (NR) if the number is not available; if there are none, record a zero (0).</p>

<form class="edit-child-vac-tally">
  <table class="spreadsheet">
    <thead>
      <tr>
        <th rowspan="2">Child Vaccinations (doses)</th>
        <th rowspan="2">Target group</th>
        <th colspan="3">0-11 months</th>
        <th rowspan="2">Coverage rate</th>
        <th colspan="3">12-23 months</th>
        <th rowspan="2">Total vaccinations</th>
        <th rowspan="2">Opened vials</th>
        <th rowspan="2">Opened vials wastage rate</th>
      </tr>
      <tr>
        <th>Health Center</th>
        <th>Mobile Brigade</th>
        <th>Total</th>
        <th>Health Center</th>
        <th>Mobile Brigade</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>BCG</th>
        <td id="hc_visit-child_vac_tally-bcg-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.bcg.hc0_11"; %>
          <% var fVal = (childVacTally.bcg||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.bcg.mb0_11"; %>
          <% var fVal = (childVacTally.bcg||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-bcg-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-bcg-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.bcg.hc12_23"; %>
          <% var fVal = (childVacTally.bcg||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.bcg.mb12_23"; %>
          <% var fVal = (childVacTally.bcg||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-bcg-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-bcg-total" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.bcg.opened"; %>
          <% var fVal = (childVacTally.bcg||{}).opened; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-bcg-wastage" class="calculated"></td>
      </tr>

      <tr>
        <th>Polio (Newborn)</th>
        <td id="hc_visit-child_vac_tally-polio0-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio0.hc0_11"; %>
          <% var fVal = (childVacTally.polio0||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio0.mb0_11"; %>
          <% var fVal = (childVacTally.polio0||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio0-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio0-coverage_rate" class="calculated"></td>
        <td></td>
        <td></td>
        <td></td>
        <td id="hc_visit-child_vac_tally-polio0-total" class="calculated"></td>
        <td rowspan="4">
          <% var fName = "child_vac_tally.polio10.opened"; %>
          <% var fVal = (childVacTally.polio10||{}).opened; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td rowspan="4" id="hc_visit-child_vac_tally-polio10-wastage" class="calculated"></td>
      </tr>
      <tr>
        <th>Polio 1st dose</th>
        <td id="hc_visit-child_vac_tally-polio1-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio1.hc0_11"; %>
          <% var fVal = (childVacTally.polio1||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio1.mb0_11"; %>
          <% var fVal = (childVacTally.polio1||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio1-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio1-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio1.hc12_23"; %>
          <% var fVal = (childVacTally.polio1||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio1.mb12_23"; %>
          <% var fVal = (childVacTally.polio1||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio1-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio1-total" class="calculated"></td>
      </tr>
      <tr>
        <th>Polio 2nd dose</th>
        <td id="hc_visit-child_vac_tally-polio2-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio2.hc0_11"; %>
          <% var fVal = (childVacTally.polio2||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio2.mb0_11"; %>
          <% var fVal = (childVacTally.polio2||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio2-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio2-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio2.hc12_23"; %>
          <% var fVal = (childVacTally.polio2||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio2.mb12_23"; %>
          <% var fVal = (childVacTally.polio2||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio2-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio2-total" class="calculated"></td>
      </tr>
      <tr>
        <th>Polio 3rd dose</th>
        <td id="hc_visit-child_vac_tally-polio3-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio3.hc0_11"; %>
          <% var fVal = (childVacTally.polio3||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio3.mb0_11"; %>
          <% var fVal = (childVacTally.polio3||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio3-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio3-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.polio3.hc12_23"; %>
          <% var fVal = (childVacTally.polio3||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.polio3.mb12_23"; %>
          <% var fVal = (childVacTally.polio3||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-polio3-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-polio3-total" class="calculated"></td>
      </tr>

      <tr>
        <th>Penta 1st dose</th>
        <td id="hc_visit-child_vac_tally-penta1-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.penta1.hc0_11"; %>
          <% var fVal = (childVacTally.penta1||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.penta1.mb0_11"; %>
          <% var fVal = (childVacTally.penta1||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-penta1-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-penta1-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.penta1.hc12_23"; %>
          <% var fVal = (childVacTally.penta1||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.penta1.mb12_23"; %>
          <% var fVal = (childVacTally.penta1||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-penta1-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-penta1-total" class="calculated"></td>
        <td rowspan="3">
          <% var fName = "child_vac_tally.penta1.opened"; %>
          <% var fVal = (childVacTally.penta1||{}).opened; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td rowspan="3" id="hc_visit-child_vac_tally-penta1-wastage" class="calculated"></td>
      </tr>
      <tr>
        <th>Penta 2nd dose</th>
        <td id="hc_visit-child_vac_tally-penta2-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.penta2.hc0_11"; %>
          <% var fVal = (childVacTally.penta2||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.penta2.mb0_11"; %>
          <% var fVal = (childVacTally.penta2||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-penta2-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-penta2-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.penta2.hc12_23"; %>
          <% var fVal = (childVacTally.penta2||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.penta2.mb12_23"; %>
          <% var fVal = (childVacTally.penta2||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-penta2-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-penta2-total" class="calculated"></td>
      </tr>
      <tr>
        <th>Penta 3rd dose</th>
        <td id="hc_visit-child_vac_tally-penta3-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.penta3.hc0_11"; %>
          <% var fVal = (childVacTally.penta3||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.penta3.mb0_11"; %>
          <% var fVal = (childVacTally.penta3||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-penta3-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-penta3-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.penta3.hc12_23"; %>
          <% var fVal = (childVacTally.penta3||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.penta3.mb12_23"; %>
          <% var fVal = (childVacTally.penta3||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-penta3-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-penta3-total" class="calculated"></td>
      </tr>

      <tr>
        <th>Measles</th>
        <td id="hc_visit-child_vac_tally-measles-target_group" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.measles.hc0_11"; %>
          <% var fVal = (childVacTally.measles||{}).hc0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.measles.mb0_11"; %>
          <% var fVal = (childVacTally.measles||{}).mb0_11; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-measles-total0_11" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-measles-coverage_rate" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.measles.hc12_23"; %>
          <% var fVal = (childVacTally.measles||{}).hc12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td>
          <% var fName = "child_vac_tally.measles.mb12_23"; %>
          <% var fVal = (childVacTally.measles||{}).mb12_23; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-measles-total12_23" class="calculated"></td>
        <td id="hc_visit-child_vac_tally-measles-total" class="calculated"></td>
        <td>
          <% var fName = "child_vac_tally.measles.opened"; %>
          <% var fVal = (childVacTally.measles||{}).opened; %>
          <%= tableField(fName, fVal, true, true, 'number', 'calculate') %>
        </td>
        <td id="hc_visit-child_vac_tally-measles-wastage" class="calculated"></td>
      </tr>

    </tbody>
  </table>
</form>

<ul>
</li>
