<h2 class="screen-header"><span class="seqno">5</span>Equipment Information</h2>

<form class="edit-equipment-status">
  <table class="spreadsheet">
    <thead>
      <tr>
        <th></th>
        <th>Present?</th>
        <th>Working?</th>
        <th>Equipment Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Burner</th>
        <td>
          <input type="radio" name="equipment_status.burner.present" id="hc_visit-equipment_status-burner-present-yes" value="yes" class="validate" <%= (equipmentStatus.burner||{}).present == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-burner-present-yes">Yes</label>
          <input type="radio" name="equipment_status.burner.present" id="hc_visit-equipment_status-burner-present-no" value="no" class="validate" <%= (equipmentStatus.burner||{}).present == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-burner-present-no">No</label>
          <input type="radio" name="equipment_status.burner.present" id="hc_visit-equipment_status-burner-present-nr" value="NR" class="validate" <%= (equipmentStatus.burner||{}).present == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-burner-present-nr">NR</label>
          <span id="hc_visit-equipment_status-burner-present-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
        <td>
          <input type="radio" name="equipment_status.burner.working" id="hc_visit-equipment_status-burner-working-yes" value="yes" class="validate" <%= (equipmentStatus.burner||{}).working == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-burner-working-yes">Yes</label>
          <input type="radio" name="equipment_status.burner.working" id="hc_visit-equipment_status-burner-working-no" value="no" class="validate" <%= (equipmentStatus.burner||{}).working == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-burner-working-no">No</label>
          <input type="radio" name="equipment_status.burner.working" id="hc_visit-equipment_status-burner-working-nr" value="NR" class="validate" <%= (equipmentStatus.burner||{}).working == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-burner-working-nr">NR</label>
          <span id="hc_visit-equipment_status-burner-working-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
        <td rowspan="4" class="equipment-notes">
          <textarea name="equipment_status.notes" id="hc_visit-equipment_status-notes"><%= equipmentStatus.notes %></textarea>
        </td>
      </tr>

      <tr>
        <th>Lamp</th>
        <td>
          <input type="radio" name="equipment_status.lamp.present" id="hc_visit-equipment_status-lamp-present-yes" value="yes" class="validate" <%= (equipmentStatus.lamp||{}).present == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-lamp-present-yes">Yes</label>
          <input type="radio" name="equipment_status.lamp.present" id="hc_visit-equipment_status-lamp-present-no" value="no" class="validate" <%= (equipmentStatus.lamp||{}).present == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-lamp-present-no">No</label>
          <input type="radio" name="equipment_status.lamp.present" id="hc_visit-equipment_status-lamp-present-nr" value="NR" class="validate" <%= (equipmentStatus.lamp||{}).present == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-lamp-present-nr">NR</label>
          <span id="hc_visit-equipment_status-lamp-present-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
        <td>
          <input type="radio" name="equipment_status.lamp.working" id="hc_visit-equipment_status-lamp-working-yes" value="yes" class="validate" <%= (equipmentStatus.lamp||{}).working == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-lamp-working-yes">Yes</label>
          <input type="radio" name="equipment_status.lamp.working" id="hc_visit-equipment_status-lamp-working-no" value="no" class="validate" <%= (equipmentStatus.lamp||{}).working == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-lamp-working-no">No</label>
          <input type="radio" name="equipment_status.lamp.working" id="hc_visit-equipment_status-lamp-working-nr" value="NR" class="validate" <%= (equipmentStatus.lamp||{}).working == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-lamp-working-nr">NR</label>
          <span id="hc_visit-equipment_status-lamp-working-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
      </tr>

      <tr>
        <th>Extinguisher</th>
        <td>
          <input type="radio" name="equipment_status.extinguisher.present" id="hc_visit-equipment_status-extinguisher-present-yes" value="yes" class="validate" <%= (equipmentStatus.extinguisher||{}).present == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-extinguisher-present-yes">Yes</label>
          <input type="radio" name="equipment_status.extinguisher.present" id="hc_visit-equipment_status-extinguisher-present-no" value="no" class="validate" <%= (equipmentStatus.extinguisher||{}).present == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-extinguisher-present-no">No</label>
          <input type="radio" name="equipment_status.extinguisher.present" id="hc_visit-equipment_status-extinguisher-present-nr" value="NR" class="validate" <%= (equipmentStatus.extinguisher||{}).present == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-extinguisher-present-nr">NR</label>
          <span id="hc_visit-equipment_status-extinguisher-present-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
        <td>
          <input type="radio" name="equipment_status.extinguisher.working" id="hc_visit-equipment_status-extinguisher-working-yes" value="yes" class="validate" <%= (equipmentStatus.extinguisher||{}).working == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-extinguisher-working-yes">Yes</label>
          <input type="radio" name="equipment_status.extinguisher.working" id="hc_visit-equipment_status-extinguisher-working-no" value="no" class="validate" <%= (equipmentStatus.extinguisher||{}).working == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-extinguisher-working-no">No</label>
          <input type="radio" name="equipment_status.extinguisher.working" id="hc_visit-equipment_status-extinguisher-working-nr" value="NR" class="validate" <%= (equipmentStatus.extinguisher||{}).working == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-extinguisher-working-nr">NR</label>
          <span id="hc_visit-equipment_status-extinguisher-working-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
      </tr>

      <tr>
        <th>Transport</th>
        <td>
          <input type="radio" name="equipment_status.transport.present" id="hc_visit-equipment_status-transport-present-yes" value="yes" class="validate" <%= (equipmentStatus.transport||{}).present == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-transport-present-yes">Yes</label>
          <input type="radio" name="equipment_status.transport.present" id="hc_visit-equipment_status-transport-present-no" value="no" class="validate" <%= (equipmentStatus.transport||{}).present == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-transport-present-no">No</label>
          <input type="radio" name="equipment_status.transport.present" id="hc_visit-equipment_status-transport-present-nr" value="NR" class="validate" <%= (equipmentStatus.transport||{}).present == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-transport-present-nr">NR</label>
          <span id="hc_visit-equipment_status-transport-present-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
        <td>
          <input type="radio" name="equipment_status.transport.working" id="hc_visit-equipment_status-transport-working-yes" value="yes" class="validate" <%= (equipmentStatus.transport||{}).working == "yes" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-transport-working-yes">Yes</label>
          <input type="radio" name="equipment_status.transport.working" id="hc_visit-equipment_status-transport-working-no" value="no" class="validate" <%= (equipmentStatus.transport||{}).working == "no" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-transport-working-no">No</label>
          <input type="radio" name="equipment_status.transport.working" id="hc_visit-equipment_status-transport-working-nr" value="NR" class="validate" <%= (equipmentStatus.transport||{}).working == "NR" ? "checked='checked'" : "" %> />
          <label for="hc_visit-equipment_status-transport-working-nr">NR</label>
          <span id="hc_visit-equipment_status-transport-working-x" class="x-invalid" title="This field is required.">&nbsp;</span>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<ul>
</li>
