<td><%= visited %></td>
<td><%= visited_at %></td>
<td><%= vehicle_id %></td>
<td><%= non_visit_reason %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>