= form_for [:admin, @health_center], :html => { :class => "form" } do |f|
  = hidden_field_tag :district_id, @health_center.district_id

  - if f.object.errors.any?
    %ul#error-explanation
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .field.required
      .label= f.label :code
      .value
        - if @health_center.new_record?
          = f.text_field :code
        - else
          = @health_center.code
    .field
      .label= f.label :population
      .value= f.text_field :population, :size => 25
    .field
      .label= f.label :latitude
      .value= f.text_field :latitude, :size => 25
    .field
      .label= f.label :longitude
      .value= f.text_field :longitude, :size => 25

  .buttons
    .button= f.submit "Save"
