= hierarchy @province, @delivery_zone, @district, "Health Center"

%h2
  View Health Center
  %span.admin-actions ( #{link_to "Edit", edit_admin_health_center_path(@health_center)} )

.admin-proplist
  .fieldset
    .field
      .label Code
      .value= @health_center.code
    .field
      .label Population
      .value= @health_center.population
    .field
      .label District
      .value= link_to @district.code, [:admin, @district]
    .field
      .label Ideal Stock Amounts
      .value
        - @ideal_stock_amounts.each do |isa|
          .nested-field
            .label= isa.package.code
            .value= isa.quantity
    .field
      .label Translations
      .value= table_tree @health_center.translations
    .field
      .label Created At
      .value= @health_center.created_at
    .field
      .label Updated At
      .value= @health_center.updated_at

  .buttons
    .link= link_to "&#171; District".html_safe, [:admin, @district]
    .link= link_to "Edit", edit_admin_health_center_path(@health_center)
