- content_for :stylesheets do
  = stylesheet_link_tag "offline"

- content_for :javascript do
  = javascript_include_tag "offline"
  :javascript
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale = "#{I18n.locale}";
    function transmb() {
      $('#trans').after(I18n.t('DescriptiveValue.mb'))
    }

- content_for :userbar do
  #{t("layouts.locale.select_language")}
  %span#trans
    =link_to_function("Translate mb ",'transmb()')
      

= render :file => "layouts/application"
