- content_for :stylesheets do
  = stylesheet_link_tag "offline"

- content_for :javascript do
  = javascript_include_tag "offline"
  :javascript
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale = "#{I18n.locale}";
    function transmb() {
      $('#trans').after(I18n.t('DescriptiveValue.mb'))
    }

- content_for :userbar do
  .locale_set{:id=>"locale_set_pt", :style=>"display: #{I18n.locale==:pt ? 'block' : 'none'}"}
    %strong Português 
    &mdash; 
    =link_to_function("English","I18n.locale='en';$('.locale_set').toggle();App.router.currentView.render()")
  .locale_set{:id=>"locale_set_pt", :style=>"display: #{I18n.locale==:en ? 'block' : 'none'}"}
    =link_to_function("Português","I18n.locale='pt';$('.locale_set').toggle();App.router.currentView.render()")
    &mdash; 
    %strong English
= render :file => "layouts/application"
